.Footer{
    padding: 5% 2.5%;
    background: black;
    position: absolute;
    bottom: 0;
    width: 95%;
}

.FooterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin-left: 50px;
}

.Row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    
}

.column{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    width:200px
}

.Email{
    width: 150px;
}