.allWish {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  height: 100vh;
}

.wishAndBtn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.wishbtn {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.allprod {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-container {
  width: 270px;
  height: 322px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  top: -150px;
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.buy-button {
  display: none;
}

.product-container:hover .buy-button {
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  background-color: #000000;
  color: #fff;
  border: none;
}

.product-details {
  padding: 10px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  color: #007bff;
}

.sqandtxt {
  display: flex;
  align-items: center;
}

.square {
  width: 20px;
  height: 40px;
  background-color: #b82d2d;
  border: solid transparent;
  border-radius: 5px;
  margin-right: 10px;
}

.jfy {
  margin: 0;
}

.bn632-hover {
  width: 200px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 1px;
  transition: all 0.4s ease-in-out;
  position: relative;
  right: -1250px;
  top: -270px;
}

.bn632-hover:hover {
  background-position: 100% 0;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn28 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
