

.admin-page {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
   
  }
  
  .admin-dashboard {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  
  .admin-content {
    width: 75%;
    padding: 20px;
    background-color: #fff;
  }
  .admin-content h2{
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .admin-content h2 {
    color: #333;
  }
  
  .admin-content .display-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .product-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:white;
    transition: transform 0.3s ease-in-out;
    
  
    &:hover {
      transform: scale(1.07);
    }
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 16px;
    }
  
    h3 {
      font-size: 20px;
      color: #333;
      margin-bottom: 8px;
    }
  
   
  }


.add-product-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 37px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-product-container label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  border-radius: 50px;
}

.add-product-container input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
}



button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #f56a07;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}


  
