/* body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2,;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.Cart-Container {
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}

.cart-container {
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

th {
  background-color: #f2f2f2;
}

.image {
  max-height: 100px;
}

input[type="number"] {
  width: 50px;
  padding: 10px;
}

input[type="number"]:focus {
  outline: none;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: 0;
  font-size: 12px;
  color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.bn15, .bn14 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bn15 {
  background-color: #b82d2d;
}

.bn14 {
  background-color: #b82d2d;
  margin-right: 10px;
}

.bn15:hover, .bn14:hover {
  background-color: #8c1e1e;
}

.summary-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.summary-box p {
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-field {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
