nav{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
}