
.footer {
  background-color: black;
  color: white;
  padding: 20px; 
  text-align: center;
  width: 100%;
}

.FooterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}


.section {
  flex: 1; 
  max-width: 400px; 
  text-align: left; 
}


.section input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #fafafa;
  border-radius: 4px;
}


.googlePlayImages {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.googlePlayImages img {
  width: 100%; /* Adjusted image width to 100% */
  height: auto; /* Maintain aspect ratio */
  border: 1px solid #fafafa;
  border-radius: 4px;
}

/* Styling for Bottom Section */
.footerBottom {
  position: relative;
  width: 100%;
  height: 80px; /* Reduced overall height */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  margin-top: 20px; /* Adjust margin-top */
}

/* Additional Styling for Text Elements */
h2, h3 {
  margin-bottom: 10px;
}

/* Responsive Styling */
@media screen and (max-width: 600px) {
  .FooterContainer {
    flex-direction: column;
    align-items: center;
  }
}
